@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

* {
    font-family: 'Dosis', sans-serif;
}

body {
    margin: 0;
    font-size: 7vmin;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 30, 40);
}
#inlineFormInputGroup{
    height: 7vmin;
}
.userInput{
    background-color: rgb(20, 30, 40);
    /* height: 100vh; */
}
#game-div{
    opacity: 0;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: antiquewhite;
    transition: 150ms ease-in-out;

}
.gameOver{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    position: fixed;
    opacity: 0.5;
    background-blend-mode: exclusion;
}
.inputDiv{
    margin-top : 40vmax;
    transition: 150ms ease-in-out;

}
.tryAgain{
    border-radius: 1.5vmin;
    font-size: 5vmin;
}
.tryAgain:hover{
    border-color: antiquewhite;
    color: rgb(20, 30, 40);
    background-color: antiquewhite;
    transition: 150ms ease-in-out;

}
.gameOver:hover{
    opacity: 1;
    transition: 150ms ease-in-out;
}
#game-board {
    padding: var(--cell-gap);
    border-radius: 1vmin;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    gap: 2vmin;
    position: relative;
}

.cell {
    background-color:rgb(184, 173, 161);
    border-radius: 1vmin;
}

.tile {
    --background-lightness : 30%;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    top: calc(var(--cell-gap) + (var(--y) * (var(--cell-size) + var(--cell-gap))));
    left: calc(var(--cell-gap) + (var(--x) * (var(--cell-size) + var(--cell-gap))));
    font-weight: bold;
    background-color: hsl(30, 50%, var(--background-lightness));
    color: hsl(30, 25%, var(--text-lightness));
    animation: show 200ms ease-in-out;
    transition: 150ms ease-in-out;
}
#game-name{
    writing-mode: vertical-lr;
  text-orientation: mixed;
}
#scoreboard{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vmin;

}
@keyframes show {
    0% {
        opacity: .5;
        transform: scale(0);
    }
}